{% extends "index.html" %}

{% block content %}

<div class="container">
    <!-- show list of users -->
    <h2 class="mt-5">Users</h2>
    <ul class="list-group">
        {% for user in users.values() %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="/admin/user/{{user.name}}">{{user.name}}</a>
            <div>
                <span class="badge bg-primary ">{{user.numvalid()}} annotations</span>
                <span class="badge bg-secondary ">{{user.numannotations()}} total</span>
                <span class="badge bg-success ">{{user.time_spent() |round|int}} s</span>
            </div>
        </li>
        {% endfor %}
    </ul>

</div>

{% endblock %}