<!-- a flask template which extends the index.html template and provides an annotation interface to a logged in user-->

{% extends "index.html" %}

{% block content %}

<script>
$(document).ready(function(){
  $.ajax({
    type: "GET",
    url: "https://{{data.wiki_lang}}.wikipedia.org/w/api.php?action=parse&format=json&prop=text&page={{data.wiki_title}}&callback=?",
    contentType: "application/json; charset=utf-8",
    async: false,
    dataType: "json",
    success: function (data, textStatus, jqXHR) {

      var content = data.parse.text["*"];
      // remove <style> tags from the content:
      content = content.replace(/<style([\s\S]*?)<\/style>/g, '');
      var title = data.parse.title;

      $('#title').html(title);
      $('#article').html(content);

      // treat every link inside #article whose href begins with /wiki/ as the skip button, but preserve the final URL
      // so first prevent default, then change the form action to /linkclick, and finally submit the form.
      $("#article").find('a').each(function() {

        var href = $(this).attr('href');
        if (href != undefined && href.startsWith('/wiki/')) {
          // make exception if this "a" contains an image
          if ($(this).find('img').length > 0) {
            return;
          }

          $(this).click(function(e) {
            e.preventDefault();

            $('form').attr('action', '/linkclick');
            $('form').append('<input type="hidden" name="final_url" value="' + href + '">');

            // set the active element name to skip so that the form validation does not run
            $('button[name="skip"]').click();
          });
        }
        else {
          // remove the link
          $(this).replaceWith($(this).html());
        }
      })
    },
    error: function (errorMessage) {}
  });

  $('#article').on('click', 'img', function(e){
    e.preventDefault();
    var img_url = $(this).attr('src');
    $('#img_url').val(img_url);
  });

  //hide image controls when "Do not include visual Q&A" is checked
  $('#disable_img').change(function() {
    if(this.checked) {
        $('#image-controls').hide();
    } else {
        $('#image-controls').show();
    }
  });


  //form validation
  $('form').submit(function(e){

    // we only want to validate if the submit button was pressed
    var button = $(document.activeElement).attr('name');
    if (button == 'skip') {
      return;
    }

    // if the form action is /linkclick, we don't want to validate
    var action = $('form').attr('action');
    if (action == '/linkclick') {
      return;
    }

    var question = $('#question').val();
    var answer = $('#answer').val();
    var img_url = $('#img_url').val();
    var img_question = $('#img_question').val();
    var img_answer = $('#img_answer').val();

    if(question == "") {
      $('#question').addClass('is-invalid');
      e.preventDefault();
    } else {
      $('#question').removeClass('is-invalid');
    }

    if(answer == "") {
      $('#answer').addClass('is-invalid');
      e.preventDefault();
    } else {
      $('#answer').removeClass('is-invalid');
    }

    if ($('#disable_img').prop('checked') == false) {
      if(img_url == "") {
        $('#img_url').addClass('is-invalid');
        e.preventDefault();
      } else {
        $('#img_url').removeClass('is-invalid');
      }

      if(img_question == "") {
        $('#img_question').addClass('is-invalid');
        e.preventDefault();
      } else {
        $('#img_question').removeClass('is-invalid');
      }

      if(img_answer == "") {
        $('#img_answer').addClass('is-invalid');
        e.preventDefault();
      } else {
        $('#img_answer').removeClass('is-invalid');
      }
    }
  });



});

</script>

<!-- hide infoboxes -->
<style>
  .infobox {
	display: none;
  }
  .sidebar {
      	display: none;
  }
  .metadata {
	  	display: none;
  }
  .mw-editsection {
      	display: none;
  }

  /* gray text in readonly input */
  input[readonly] {
	  color: gray;
  }

  /* #form { */
  /*     position: fixed; */
  /*     left: calc(50% + (400px/2)) ; */

  /* } */
</style>

<div class="container-fluid p-3 d-flex h-100">
  <div class="d-flex flex-column flex-shrink-0 p-3 position-sticky sticky-top h-50 container" style="width: 640px;">
    <form action="/annotate" method="post" novalidate>
      <!--hidden fields for wiki title and language -->
      <input type="hidden" id="wiki_title" name="wiki_title" value="{{data.wiki_title}}">
      <input type="hidden" id="wiki_lang" name="wiki_lang" value="{{data.wiki_lang}}">
      <input type="hidden" id="randomness" name="randomness" value="{{data.random_page}}">
      <input type="hidden" id="timestamp" name="timestamp" value="{{data.time_loaded}}">

      <div class="row">
        <div class="form-group my-3 col">
          <label for="question">Question (source language):</label>
          <textarea class="form-control" id="question" name="question" rows="3">{{data.question}}</textarea>
          <div class="invalid-feedback">Please provide a question.</div>
        </div>

        <div class="form-group my-3 col">
          <label for="question">Question (English):</label>
          <textarea class="form-control" id="question_en" name="question_en" rows="3">{{data.question_en}}</textarea>
          <div class="invalid-feedback">Please provide the English translation of the question.</div>
        </div>
      </div>

      <div class="row">
        <div class="form-group my-3 col">
          <label for="answer">Answer (source language):</label>
          <textarea class="form-control" id="answer" name="answer" rows="3">{{data.answer}}</textarea>
          <div class="invalid-feedback">Please provide an answer.</div>
        </div>

        <div class="form-group my-3 col">
          <label for="answer_en">Answer (English):</label>
          <textarea class="form-control" id="answer_en" name="answer_en" rows="3">{{data.answer_en}}</textarea>
          <div class="invalid-feedback">Please provide the English translation of the answer.</div>
        </div>
      </div>

      <div class="form-check my-3">
        <input class="form-check-input" type="checkbox" value="" id="disable_img" name="disable_img" {% if data.img_skipped %} checked {% endif %}>
        <label class="form-check-label" for="disable_img">Do not include visual Q&amp;A</label>
      </div>

      <div id="image-controls">
        <div class="form-group my-3">
          <label for="img_url">Image URL:</label>
          <input type="text" class="form-control" id="img_url" name="img_url" readonly  {% if not data.img_skipped %} value="{{data.img_url}}" {% endif %}>
          <div class="invalid-feedback">Choose an image by clicking on it.</div>
        </div>

        <div class="row">
          <div class="form-group my-3 col">
            <label for="img_question">Visual question:</label>
            <textarea class="form-control" id="img_question" name="img_question" rows="3">{% if not data.img_skipped %}{{data.img_question}}{% endif %}</textarea>
            <div class="invalid-feedback">Please provide a visual question or check above to skip.</div>
          </div>
          <div class="form-group my-3 col">
            <label for="img_question_en">Visual question:</label>
            <textarea class="form-control" id="img_question_en" name="img_question_en" rows="3">{% if not data.img_skipped %}{{data.img_question_en}}{% endif %}</textarea>
            <div class="invalid-feedback">Please provide the English translation of the visual question.</div>
          </div>
        </div>

        <div class="row">
          <div class="form-group my-3 col">
            <label for="img_answer">Visual answer:</label>
            <textarea class="form-control" id="img_answer" name="img_answer" rows="3">{% if not data.img_skipped %}{{data.img_answer}}{% endif %}</textarea>
            <div class="invalid-feedback">Please provide a visual answer or check above to skip.</div>
          </div>

          <div class="form-group my-3 col">
            <label for="img_answer_en">Visual answer (English):</label>
            <textarea class="form-control" id="img_answer_en" name="img_answer_en" rows="3">{% if not data.img_skipped %}{{data.img_answer_en}}{% endif %}</textarea>
            <div class="invalid-feedback">Please provide the English translation of the visual answer.</div>
          </div>
        </div>

      </div>


      <div class="form-group my-3 text-end">
        {% if editing %}
        <button type="submit" class="btn btn-outline-danger" name="skip">Delete</button>
        {% else %}
        <button type="submit" class="btn btn-outline-secondary" name="skip">Skip</button>
        {% endif %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>

  <div role="main" class="flex-fill">
    <div class="pt-3 pb-2 mb-3 border-bottom">
      <h1 id="title" class="h2"></h1>
    </div>
    <div id="article"></div>
  </div>
</div>

{% endblock %}
