<!-- a flask template which extends the index.html template and provides an annotation interface to a logged in user-->

{% extends "index.html" %}

{% block content %}

<script>
$(document).ready(function(){
  $.ajax({
    type: "GET",
    url: "https://{{data.wiki_lang}}.wikipedia.org/w/api.php?action=parse&format=json&prop=text&page={{data.wiki_title}}&callback=?",
    contentType: "application/json; charset=utf-8",
    async: false,
    dataType: "json",
    success: function (data, textStatus, jqXHR) {

      var content = data.parse.text["*"];
      // remove <style> tags from the content:
      content = content.replace(/<style([\s\S]*?)<\/style>/g, '');
      var title = data.parse.title;

      var first_infobox_image = $(content).find('.infobox img').first();
      if (first_infobox_image.length > 0) {
        var img_url = first_infobox_image.attr('src');
        var img_caption = first_infobox_image.attr('alt');

        var img_card = `
        <div class="card" style="width: 18rem;">
            <img src="${img_url}" class="card-img-top" alt="${img_caption}">
          <div class="card-body">
            <p class="card-text">${img_caption}</p>
          </div>

        </div>
        `;

        $('#infobox-image').html(img_card);
        $('#infobox-image').removeClass('d-none');
      }


      $('#title').html(title);
      $('#article').html(content);

      // treat every link inside #article whose href begins with /wiki/ as the skip button
      // after clicking a link, update the "clicked_url" form field and click skip

      $("#article").find('a').each(function() {
	      var prefix = '{{ url_for("index") }}'.replace(/\/$/, "");
        var href = $(this).attr('href');

        if (href != undefined && href.startsWith('/wiki/')) {
	        $(this).attr('href', prefix + href);

          // make exception if this "a" contains an image
          if ($(this).find('img').length > 0) {
            return;
          }

          // link click event handler
          $(this).click(function(e) {
            e.preventDefault();

            $("input[name='clicked_url']").val(prefix + href);

            // click the skip button
            $("#linkskip-button").click();
          });
        }
        else {
          // remove the link
          $(this).replaceWith($(this).html());
        }
      })
    },
    error: function (errorMessage) {}
  });

  $('#article, #infobox-image').on('click', 'img', function(e){
    e.preventDefault();
    var img_url = $(this).attr('src');
    $('#img_url').val(img_url);
  });

  //hide image controls when "Do not include visual Q&A" is checked
  $('#disable_img').change(function() {
    if(this.checked) {
        $('#image-controls').hide();
    } else {
        $('#image-controls').show();
    }
  });


  function formNotEmpty() {
    var question = $('#question').val();
    var answer = $('#answer').val();
    var img_url = $('#img_url').val();
    var img_question = $('#img_question').val();
    var img_answer = $('#img_answer').val();

    if (question != "" || answer != "" || img_url != "" || img_question != "" || img_answer != "") {
      return true;
    }
    return false;
  }

  // reset the clicked_url input when submit or skip button is clicked
  $('#submit-button, #skip-button').click(function() {
    $("input[name='clicked_url']").val("");
  });



  //form validation
  $('form').submit(function(e){

    // we only want to validate if the submit button was pressed
    var button = $(document.activeElement).attr('name');

    if (button == 'skip') {
      // this happens only when skip button is clicked by the user
      if (formNotEmpty()) {

        // {% if editing %}
        var msg = "Are you sure you want to delete this annotation?";
        // {% else %}
        var msg = "You have not submitted the form. Are you sure you want to skip?";
        // {% endif %}

        if (!confirm(msg)) {
          e.preventDefault();
        }
      }
      return;
    }

    // if "clicked_url" is not empty, we don't want to validate
    var clicked_url = $('input[name="clicked_url"]').val();
    if (clicked_url != "") {
      if (formNotEmpty()) {

        // {% if editing %}
        var msg = "Clicking the link will delete the annotation. Are you sure?";
        // {% else %}
        var msg = "Clicking the link will discard the annotation. Are you sure?";
        // {% endif %}

        if (!confirm(msg)) {
          e.preventDefault();
        }
        }


      return;
    }

/*
      // if the form is not empty, ask user whether to submit or skip and give them the following three options:
      // the user has three options: cancel and return to annotation, discard the form, and submit.
      if (formNotEmpty()) {
        e.preventDefault();

       // confirm dialog with three options:
        // 1. cancel and return to annotation
        // 2. discard the form
        // 3. submit

        // use bootstrap modals for this.
        var modal = `
        <div class="modal" tabindex="-1" role="dialog" id="modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">You have not submitted the form.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>What would you like to do?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and return to annotation</button>
                <button type="button" class="btn btn-danger" id="discard">Discard the form</button>
                <button type="submit" class="btn btn-primary">Submit and continue</button>
              </div>
            </div>
          </div>
        </div>
        `;

        $('body').append(modal);
        var modal = new bootstrap.Modal(document.getElementById('modal'));
        modal.show();

        $('#discard').click(function() {
          modal.hide();
          // ... TODO
        });


      }
 */


    var question = $('#question').val();
    var answer = $('#answer').val();
    var img_url = $('#img_url').val();
    var img_question = $('#img_question').val();
    var img_answer = $('#img_answer').val();

    if(question == "") {
      $('#question').addClass('is-invalid');
      e.preventDefault();
    } else {
      $('#question').removeClass('is-invalid');
    }

    if(answer == "") {
      $('#answer').addClass('is-invalid');
      e.preventDefault();
    } else {
      $('#answer').removeClass('is-invalid');
    }

    if ($('#disable_img').prop('checked') == false) {
      if(img_url == "") {
        $('#img_url').addClass('is-invalid');
        e.preventDefault();
      } else {
        $('#img_url').removeClass('is-invalid');
      }

      if(img_question == "") {
        $('#img_question').addClass('is-invalid');
        e.preventDefault();
      } else {
        $('#img_question').removeClass('is-invalid');
      }

      if(img_answer == "") {
        $('#img_answer').addClass('is-invalid');
        e.preventDefault();
      } else {
        $('#img_answer').removeClass('is-invalid');
      }
    }
  });
});

</script>

<!-- hide infoboxes -->
<style>
  .infobox {
	display: none;
  }
  .sidebar {
      	display: none;
  }
  .metadata {
	  	display: none;
  }
  .mw-editsection {
      	display: none;
  }

  /* gray text in readonly input */
  input[readonly] {
	  color: gray;
  }

  /* #form { */
  /*     position: fixed; */
  /*     left: calc(50% + (400px/2)) ; */

  /* } */
</style>

<div class="container-fluid p-3 d-flex h-100">
  <div class="d-flex flex-column flex-shrink-0 p-3 position-sticky sticky-top h-50 container" style="width: 640px;">
    <form action="{{ url_for('annotate') }}" method="post" novalidate>
      <!--hidden fields for wiki title and language -->
      <input type="hidden" id="wiki_title" name="wiki_title" value="{{data.wiki_title}}">
      <input type="hidden" id="wiki_lang" name="wiki_lang" value="{{data.wiki_lang}}">
      <input type="hidden" id="randomness" name="randomness" value="{{data.random_page}}">
      <input type="hidden" id="timestamp" name="timestamp" value="{{data.time_loaded}}">

      <input type="hidden" id="clicked_url" name="clicked_url" value="">

      <div class="row">
        <div class="form-group my-3 col">
          <label for="question">Question in {{data.wiki_lang|lang_name}} {{data.wiki_lang|lang_flag}}</label>
          <textarea class="form-control" id="question" name="question" rows="3">{{data.question}}</textarea>
          <div class="invalid-feedback">Please provide a question.</div>
        </div>

        <div class="form-group my-3 col">
          <label for="answer">Answer in {{data.wiki_lang|lang_name}} {{data.wiki_lang|lang_flag}}</label>
          <textarea class="form-control" id="answer" name="answer" rows="3">{{data.answer}}</textarea>
          <div class="invalid-feedback">Please provide an answer.</div>
        </div>
      </div>

      <div class="row">
        <div class="form-group my-3 col">
          <label for="question">Question in English 🇬🇧</label>
          <textarea class="form-control" id="question_en" name="question_en" rows="3">{{data.question_en}}</textarea>
          <div class="invalid-feedback">Please provide the English translation of the question.</div>
        </div>

        <div class="form-group my-3 col">
          <label for="answer_en">Answer in English 🇬🇧</label>
          <textarea class="form-control" id="answer_en" name="answer_en" rows="3">{{data.answer_en}}</textarea>
          <div class="invalid-feedback">Please provide the English translation of the answer.</div>
        </div>
      </div>

      <div class="form-check my-3">
        <input class="form-check-input" type="checkbox" value="" id="disable_img" name="disable_img" {% if data.img_skipped %} checked {% endif %}>
        <label class="form-check-label" for="disable_img">Do not include visual Q&amp;A</label>
      </div>

      <div id="image-controls">
        <div class="form-group my-3">
          <label for="img_url">Image URL:</label>
          <input type="text" class="form-control" id="img_url" name="img_url" readonly  {% if not data.img_skipped %} value="{{data.img_url}}" {% endif %}>
          <div class="invalid-feedback">Choose an image by clicking on it.</div>
        </div>

        <div class="row">
          <div class="form-group my-3 col">
            <label for="img_question">Visual question in {{data.wiki_lang|lang_name}} {{data.wiki_lang|lang_flag}}</label>
            <textarea class="form-control" id="img_question" name="img_question" rows="3">{% if not data.img_skipped %}{{data.img_question}}{% endif %}</textarea>
            <div class="invalid-feedback">Please provide a visual question or check above to skip.</div>
          </div>

          <div class="form-group my-3 col">
            <label for="img_answer">Visual answer in {{data.wiki_lang|lang_name}} {{data.wiki_lang|lang_flag}}</label>
            <textarea class="form-control" id="img_answer" name="img_answer" rows="3">{% if not data.img_skipped %}{{data.img_answer}}{% endif %}</textarea>
            <div class="invalid-feedback">Please provide a visual answer or check above to skip.</div>
          </div>
        </div>

        <div class="row">
          <div class="form-group my-3 col">
            <label for="img_question_en">Visual question in English 🇬🇧</label>
            <textarea class="form-control" id="img_question_en" name="img_question_en" rows="3">{% if not data.img_skipped %}{{data.img_question_en}}{% endif %}</textarea>
            <div class="invalid-feedback">Please provide the English translation of the visual question.</div>
          </div>

          <div class="form-group my-3 col">
            <label for="img_answer_en">Visual answer in English 🇬🇧</label>
            <textarea class="form-control" id="img_answer_en" name="img_answer_en" rows="3">{% if not data.img_skipped %}{{data.img_answer_en}}{% endif %}</textarea>
            <div class="invalid-feedback">Please provide the English translation of the visual answer.</div>
          </div>
        </div>

      </div>

      <div class="row">
	<label for="comment">Comment (optional)</label>
	<textarea class="form-control" id="comment" name="comment" rows="2">{{data.comment}}</textarea>
      </div>

      <div class="form-group my-3 text-end">

        <button type="submit" id="linkskip-button" name="linkskip"  style="display: none;">Skip via link</button>

        {% if editing %}
        <button type="submit" id="skip-button" class="btn btn-outline-danger" name="skip">Delete</button>
        {% else %}
        <button type="submit" id="skip-button" class="btn btn-outline-secondary" name="skip">Skip</button>
        {% endif %}

        <button type="submit" class="btn btn-primary" name="submit" id="submit-button">Submit</button>
      </div>
    </form>
  </div>

  <div role="main" class="flex-fill px-3">
    <div class="pt-3 pb-2 mb-3 border-bottom">
      <h1 id="title" class="h2"></h1>
    </div>
    <div id="infobox-image" class="float-end ms-3 mb-3 d-none"></div>
    <div id="article"></div>
  </div>
</div>

{% endblock %}
