<!-- this is a flask template for the main page, the reset of the pages will extedn this template, the main block is called content -->
<!doctype html>
<html>
  <head>
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <h1>Annotation interface</h1>
      {% if username %}
      <p>Hello, {{ username }}! <a href="/logout">Logout</a></p>
      {% endif %}
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
