<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Home{% endblock %}</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<!--<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

{% block head %}{% endblock %}

</head>
<body>



<div class="container-fluid px-0">
  <header class="d-flex align-items-center justify-content-center justify-content-md-between py-3 mb-4 px-5 bg-light border-bottom">

    <div class="col-2 mb-2 mb-md-0">
      <a href="{{ url_for('index') }}" class="d-inline-flex link-body-emphasis text-decoration-none">Regional QA</a>
    </div>

    <div class="col-10 text-end">

      {% if user %}
        {% if user.role == "admin" %}
          <a href="{{ url_for('admin') }}" role="button" class="btn btn-outline-primary me-2">
            <span class="bi-gear"></span>
            Admin
          </a>
        {% endif %}

        <a href="#" role="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#annotationInstructions">
          <span class="bi-question-circle"></span> Annotation Instructions
        </a>
                
        <div class="modal fade modal-xl" id="annotationInstructions" tabindex="-1" aria-labelledby="annotationInstructionsLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="annotationInstructionsLabel">Annotation Instructions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body text-start">
                <div class="accordion" id="instructionAccordion">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Instructions
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#instructionAccordion">
                    <div class="accordion-body">                                        
                      <p>
                        Large language models (such as ChatGPT, Gemini, and Claude) have problems 
                        answering regional questions. Sometimes, they only know the answer in the
                        local language and/or English and fail to answer in other languages, and
                        sometimes the answers radically differ across language                  
                      <p>
                        Large language models (such as ChatGPT, Gemini, and Claude) have problems 
                        answering regional questions. Sometimes, they only know the answer in the
                        local language and/or English and fail to answer in other languages, and
                        sometimes the answers radically differ across languages. The goal of the 
                        project is to create a challenge set that will test the abilities to answer
                        region-specific questions across languages.
                      </p>

                      <p>
                        Your task is to browse Wikipedia and find facts that are very specific to
                        your country (Czech Republic, Slovakia, Ukraine). Select the facts that you
                        think many people in that country know but almost everyone outside the country 
                        does not. 
                      </p>

                      <p>
                        Detailed instructions
                        <ul>
                          <li>
                            The “Skip button” takes you a random page from our automatically 
                            preselected list. You do not have to rely on this: Click the links in
                            the Wikipedia articles to get to more relevant articles.
                          </li>
                          <li>Use each Wikipedia page just once.</li>
                          <li>
                            Only consider Wikipedia pages about local entities (E.g., a Czech page
                            providing unique details about a Croatian village is not what we want.)
                          </li>
                          <li>
                            Please avoid facts that you think almost no one knows or consider
                            rather obscure.
                          </li>
                          <li>
                            Write a question and answer in Czech and provide an English translation 
                            of both.
                          </li>
                          <li>
                            If the Wikipedia page has a photograph (not a computer-drawn scheme)
                            that illustrates the topic and allows you to ask a reasonable question 
                            about it, click it. The URL of the image should show up in the form.
                          </li>
                          <li>
                            Formulate a question and answer related to the image. It can be a 
                            small reformulation of the previous question or a new one.
                          </li>
                        </ul>
                      </p>     
                    </div>
                  </div>
                </div>


                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed fw-strong" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Example #1 - Good question with image
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#instructionAccordion">
                    <div class="accordion-body">                                        
                      <table class="table table-bordered table-hover">
                        <thead class="thead-light">
                          <tr>
                            <th>Attribute</th>
                            <th>Information</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Wikipedia Article</td>
                            <td><a href="https://cs.wikipedia.org/wiki/Sv%C3%AD%C4%8Dkov%C3%A1_na_smetan%C4%9B" target="_blank">Svíčková na smetaně</a></td>
                          </tr>
                          <tr>
                            <td>Question in Czech</td>
                            <td>Podle čeho se jmenuje svíčková na smetaně?</td>
                          </tr>
                          <tr>
                            <td>Answer in Czech</td>
                            <td>Podle masa, ze které by se měla připravovat</td>
                          </tr>
                          <tr>
                            <td>Question in English</td>
                            <td>What gave the name to Svíčková?</td>
                          </tr>
                          <tr>
                            <td>Answer in English</td>
                            <td>Beef tenderloin</td>
                          </tr>
                          <tr>
                            <td>Image</td>
                            <td>
                              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Praha_2005-09-25_sv%C3%AD%C4%8Dkov%C3%A1_na_smetan%C4%9B-00.jpg/250px-Praha_2005-09-25_sv%C3%AD%C4%8Dkov%C3%A1_na_smetan%C4%9B-00.jpg" alt="Svíčková na smetaně" class="img-fluid">
                            </td>
                          </tr>
                          <tr>
                            <td>Question in Czech (Image)</td>
                            <td>Podle čeho se jmenuje jídlo na obrázku?</td>
                          </tr>
                          <tr>
                            <td>Answer in Czech (Image)</td>
                            <td>Podle masa, ze které by se mělo připravovat</td>
                          </tr>
                          <tr>
                            <td>Question in English (Image)</td>
                            <td>What gave the name to the dish in the picture?</td>
                          </tr>
                          <tr>
                            <td>Answer in English (Image)</td>
                            <td>The meat from which it should be prepared</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>



                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed fw-strong" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Example #2 - Good question with image
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#instructionAccordion">
                    <div class="accordion-body">                                        
                      <table class="table table-bordered table-hover">
                        <thead class="thead-light">
                          <tr>
                            <th>Attribute</th>
                            <th>Information</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Wikipedia Article</td>
                            <td><a href="https://cs.wikipedia.org/wiki/Jarom%C3%ADr_J%C3%A1gr" target="_blank">Jaromír Jágr</a></td>
                          </tr>
                          <tr>
                            <td>Question in Czech</td>
                            <td>Z jaké kladenské čtvrti pochází Jaromír Jágr?</td>
                          </tr>
                          <tr>
                            <td>Answer in Czech</td>
                            <td>Hnidousy</td>
                          </tr>
                          <tr>
                            <td>Question in English</td>
                            <td>What district of Kladno does Jaromír Jágr come from?</td>
                          </tr>
                          <tr>
                            <td>Answer in English</td>
                            <td>Hnidousy</td>
                          </tr>
                          <tr>
                            <td>Image</td>
                            <td>
                              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Jagr_Panthers.jpg/250px-Jagr_Panthers.jpg" alt="Jaromír Jágr" class="img-fluid">
                            </td>
                          </tr>
                          <tr>
                            <td>Question in Czech (Image)</td>
                            <td>Kdo je hokejista na obrázku?</td>
                          </tr>
                          <tr>
                            <td>Answer in Czech (Image)</td>
                            <td>Jaromír Jágr</td>
                          </tr>
                          <tr>
                            <td>Question in English (Image)</td>
                            <td>Who is the hockey player in the picture?</td>
                          </tr>
                          <tr>
                            <td>Answer in English (Image)</td>
                            <td>Jaromír Jágr</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>  
                </div>                          



                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed fw-strong" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Example #3 - Good question with image
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#instructionAccordion">
                    <div class="accordion-body">                                        
                      <table class="table table-bordered table-hover">
                        <thead class="thead-light">
                          <tr>
                            <th>Attribute</th>
                            <th>Information</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Wikipedia Article</td>
                            <td><a href="https://cs.wikipedia.org/wiki/Jan_Anton%C3%ADn_Ba%C5%A5a" target="_blank">Jan Antonín Baťa</a></td>
                          </tr>
                          <tr>
                            <td>Question in Czech</td>
                            <td>Kdo je autorem knihy Budujme stát pro 40 000 000 lidí?</td>
                          </tr>
                          <tr>
                            <td>Answer in Czech</td>
                            <td>Jan Antonín Baťa</td>
                          </tr>
                          <tr>
                            <td>Question in English</td>
                            <td>Who is the author of the book “Budujme stát pro 40 000 000 lidí”?</td>
                          </tr>
                          <tr>
                            <td>Answer in English</td>
                            <td>Jan Antonín Baťa</td>
                          </tr>
                          <tr>
                            <td>Image</td>
                            <td>
                              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/J_A_Ba%C5%A5a_1933.png/225px-J_A_Ba%C5%A5a_1933.png" alt="Jan Antonín Baťa" class="img-fluid">
                            </td>
                          </tr>
                          <tr>
                            <td>Question in Czech (Image)</td>
                            <td>Kdo je muž na obrázku?</td>
                          </tr>
                          <tr>
                            <td>Answer in Czech (Image)</td>
                            <td>Jan Antonín Baťa, podnikatel</td>
                          </tr>
                          <tr>
                            <td>Question in English (Image)</td>
                            <td>Who is the man in the picture?</td>
                          </tr>
                          <tr>
                            <td>Answer in English (Image)</td>
                            <td>Jan Antonín Baťa, entrepreneur</td>
                          </tr>
                        </tbody>
                        

                      </table>
                    </div>
                  </div>  
                </div>          



                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed fw-strong" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Example #4 - Some bad examples
                    </button>
                  </h2>
                  <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#instructionAccordion">
                    <div class="accordion-body">  
                      <p>
                        Examples of questions that are regional, but too niche and many people even in the Czech Republic do not know the answer:
                        <ul>
                          <li>Jak je dlouhá turistická trasa E104?</li>
                          <li>Kdo obdržel roku 1985 Herderovu cenu za výrazný přínos literární komparatistice?</li>
                          <li>Jaký byl pseudonym hudebního pedagoga Františka Jiřího Macha?</li>
                        </ul>
                      </p>             
                    </div>
                  </div>
                </div>

              </div>
              </div>


              <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        

        <a href="{{ url_for('index') }}" role="button" class="btn btn-outline-primary me-2">
          <span class="bi-speedometer"></span>
          Dashboard
        </a>


        <a href="{{ url_for('annotate') }}" role="button" class="btn btn-primary me-2">
          <span class="bi-pencil-square"></span>
          Annotation
        </a>

        <a href="{{ url_for('logout') }}" role="button" class="btn btn-outline-primary me-2">
          <span class="bi-box-arrow-right"></span>
          Logout {{user.name}}
        </a>

      {% else %}
        <a href="{{ url_for('login') }}" role="button" class="btn btn-primary me-2">Login</a>
      {% endif %}

    </div>
  </header>

  {% block content %}{% endblock %}

</div>
</body>
